* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.navbar {

    padding: 10px;
    text-align: center;
}

.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.book-container {
    width: 25%;
    padding: 15px;
    background-color: black;
    color: white;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.book-container h2 {
    color: #fd6568;
}
.book-container button {
    background-color: #fd6568;
    color: black;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
}
.add-button {
    background-color: #fd6568;
    color: black;
    border-radius: 50%;
    padding: 20px 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.popup-overlay {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box {
    background-color: #fd6568;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering */
    z-index: 2;
    display: none;
}
.popup-box input,
.popup-box textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box textarea {
    border: solid black 2px;
}
.popup-box input::placeholder,
.popup-box textarea::placeholder {
    color: black;
}
.popup-box button {
    background-color: black;
    padding: 10px 20px;
    border: none;
    color: white;
    margin: 5px;
}
.popup-box input:focus,
.popup-box textarea:focus {
    outline: none;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .book-container {
        width: 45%;
    }
    .popup-box {
        width: 60%; /* Adjusted popup size for tablets */
    }
}

@media (max-width: 480px) {
    .book-container {
        width: 90%;
    }
    .popup-box {
        width: 60%; /* Adjusted popup size for mobile */
    }
    .add-button {
        font-size: 35px;
        padding: 15px 25px;
    }
}